<h1>
	Pasta project
</h1>
<div class="bottomHRSim">
	<nav>
		<a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><span>home</span></a>
		<a routerLink="/info" routerLinkActive="active"><span>info</span></a>
		<a routerLink="/armory" routerLinkActive="active"><span>armory</span></a>
		<a routerLink="/submission" routerLinkActive="active"><span>submission</span></a>
<div class="log">

	<a href="" (click)=authService.logout() *ngIf="authService.loggedIn()">Log out</a>
</div>

    </nav>
</div>

<router-outlet></router-outlet>