


<section class="container">
	<div class="left-half">
		<p *ngFor="let item of items" (click)="view(item)" [class.selected]="item === selectedItem">
		  {{item.name}}

		</p>
	</div>

	<div class="right-half">
		<div *ngIf="selectedItem">

			<p id="itemName">{{selectedItem.name}}</p>

			<p id="itemDesc">{{selectedItem.desc}}</p>

			<p id="itemLore"><em>{{selectedItem.lore}}</em></p>	

			<p id="_id">{{selectedItem._id}}</p>	   
		 
			<button *ngIf="!isEditing" (click)="isEditing = ! isEditing">Edit</button>
			<button *ngIf="isEditing" (click)="isEditing = !isEditing">Close editing</button>

		  	<div *ngIf="isEditing">

		  		<input [(ngModel)]="selectedItem.name"> <br>
		  		<textarea cols="45" rows="15" [(ngModel)]="selectedItem.desc"></textarea> <br>
		  		<textarea cols="45" rows="15" [(ngModel)]="selectedItem.lore"></textarea> <br>

		  		<button (click)="update(selectedItem)">Update</button>
		  	</div>



		</div>

	</div>

</section>